{
  "openapi": "3.1.0",
  "info": {
    "title": "Taicho External API",
    "version": "1.0.0",
    "description": "Organization-scoped OAuth API for Taicho workspace, content, outreach, publishing, Cascade, Intelligence, webhooks, and durable AI operations.\n\n### Authentication and tenant scope\nUse Authorization Code with PKCE for user-facing integrations and Client Credentials for service principals. Request the exact API resource and minimum scopes registered in Developer integrations. Every access token is bound to one organization; resource identifiers are resolved only inside that organization and must not be supplied as a substitute tenant selector.\n\n### Pagination and response identity\nCollection operations declare their own pagination inputs (for example `limit`, `cursor`, or `page`) and response shape. Follow that operation instead of assuming a universal paging scheme. Successful JSON responses include request correlation and replay information in `meta`; preserve `X-Request-Id` when contacting support.\n\n### Errors and safe retries\nErrors use `application/problem+json` with an HTTP status, stable code, human-readable detail, and request ID. Mutations that declare `Idempotency-Key` require a unique 8–200 character key; reuse the same key only when retrying the same logical request.\n\n### One-time media uploads\nCreate an upload handoff through the relevant publishing operation, then send bytes to its exact URL with `Authorization: Upload <token>`, the authorized `Content-Type`, and exact `Content-Length`. Upload tokens expire and can be consumed only once."
  },
  "servers": [
    {
      "url": "https://cloud.taicho.ai/api/v1"
    }
  ],
  "paths": {
    "/agents/{agentId}/chat": {
      "post": {
        "operationId": "agents.chat",
        "tags": [
          "Agents"
        ],
        "summary": "Run an active custom agent",
        "description": "Runs one response through the same hosted-agent runtime used by the browser playground, with the saved mission, current workspace knowledge policy, credit accounting, and bounded conversation context. Agents allowed to write durable notes additionally require workspace write scope.",
        "security": [
          {
            "oauth2": [
              "vn:read",
              "vn:ai:execute"
            ]
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Active agent identifier from the route"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "messages": {
                    "minItems": 1,
                    "maxItems": 24,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ],
                          "description": "Speaker for this conversation turn"
                        },
                        "content": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 10000,
                          "description": "Plain-text conversation turn"
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    "description": "Bounded conversation ending with the user message the agent should answer"
                  }
                },
                "required": [
                  "messages"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string",
                              "const": "assistant"
                            },
                            "content": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "additionalProperties": false
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "promptTokens": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "completionTokens": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "totalTokens": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            }
                          },
                          "required": [
                            "promptTokens",
                            "completionTokens",
                            "totalTokens"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "message",
                        "usage"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/agents": {
      "post": {
        "operationId": "agents.create",
        "tags": [
          "Agents"
        ],
        "summary": "Create an external agent",
        "description": "Creates a versioned external-agent mission for selected connection destinations. Read access follows the workspace modules currently enabled; the caller chooses only whether the agent may write durable memory.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120,
                    "description": "Display name for the external agent"
                  },
                  "description": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 500,
                    "description": "Short explanation of the agent mission"
                  },
                  "instructions": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 20000,
                    "description": "System instructions that govern the agent runtime"
                  },
                  "channels": {
                    "minItems": 1,
                    "maxItems": 8,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "slack",
                        "microsoft-teams",
                        "discord",
                        "web-chat",
                        "api-sdk",
                        "custom-apps",
                        "n8n",
                        "make"
                      ]
                    },
                    "description": "External destinations this agent is intended to serve"
                  },
                  "canWriteNotes": {
                    "default": true,
                    "description": "Whether the agent may create attributable durable notes",
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "instructions",
                  "channels",
                  "canWriteNotes"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "agent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "organizationId": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "version": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "paused"
                              ]
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "instructions": {
                              "type": "string"
                            },
                            "channels": {
                              "default": [
                                "api-sdk"
                              ],
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "slack",
                                  "microsoft-teams",
                                  "discord",
                                  "web-chat",
                                  "api-sdk",
                                  "custom-apps",
                                  "n8n",
                                  "make"
                                ]
                              }
                            },
                            "projectionKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "allowedUses": {
                              "minItems": 1,
                              "maxItems": 6,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "research",
                                  "qualification",
                                  "outreach",
                                  "content",
                                  "citation",
                                  "internal"
                                ]
                              },
                              "description": "Purposes for which graph evidence may be used"
                            },
                            "maxSensitivity": {
                              "type": "string",
                              "enum": [
                                "public",
                                "workspace",
                                "restricted"
                              ]
                            },
                            "maxHops": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "maxResults": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "canWriteNotes": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "organizationId",
                            "slug",
                            "version",
                            "status",
                            "createdBy",
                            "createdAt",
                            "updatedAt",
                            "name",
                            "description",
                            "instructions",
                            "channels",
                            "projectionKeys",
                            "allowedUses",
                            "maxSensitivity",
                            "maxHops",
                            "maxResults",
                            "canWriteNotes"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "agent"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      },
      "get": {
        "operationId": "agents.list",
        "tags": [
          "Agents"
        ],
        "summary": "List external agents and configuration options",
        "description": "Returns the external agents configured for this workspace together with their non-secret deployments and connection choices.",
        "security": [
          {
            "oauth2": [
              "vn:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "agents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "agent": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "format": "uuid",
                                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                  },
                                  "organizationId": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "version": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "active",
                                      "paused"
                                    ]
                                  },
                                  "createdBy": {
                                    "type": "string"
                                  },
                                  "createdAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "updatedAt": {
                                    "type": "string",
                                    "format": "date-time",
                                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "instructions": {
                                    "type": "string"
                                  },
                                  "channels": {
                                    "default": [
                                      "api-sdk"
                                    ],
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "slack",
                                        "microsoft-teams",
                                        "discord",
                                        "web-chat",
                                        "api-sdk",
                                        "custom-apps",
                                        "n8n",
                                        "make"
                                      ]
                                    }
                                  },
                                  "projectionKeys": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "allowedUses": {
                                    "minItems": 1,
                                    "maxItems": 6,
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "research",
                                        "qualification",
                                        "outreach",
                                        "content",
                                        "citation",
                                        "internal"
                                      ]
                                    },
                                    "description": "Purposes for which graph evidence may be used"
                                  },
                                  "maxSensitivity": {
                                    "type": "string",
                                    "enum": [
                                      "public",
                                      "workspace",
                                      "restricted"
                                    ]
                                  },
                                  "maxHops": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "maxResults": {
                                    "type": "integer",
                                    "minimum": -9007199254740991,
                                    "maximum": 9007199254740991
                                  },
                                  "canWriteNotes": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "organizationId",
                                  "slug",
                                  "version",
                                  "status",
                                  "createdBy",
                                  "createdAt",
                                  "updatedAt",
                                  "name",
                                  "description",
                                  "instructions",
                                  "channels",
                                  "projectionKeys",
                                  "allowedUses",
                                  "maxSensitivity",
                                  "maxHops",
                                  "maxResults",
                                  "canWriteNotes"
                                ],
                                "additionalProperties": false
                              },
                              "deployments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                    },
                                    "organizationId": {
                                      "type": "string"
                                    },
                                    "agentId": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "channel": {
                                      "type": "string",
                                      "const": "openai"
                                    },
                                    "tokenPrefix": {
                                      "type": "string"
                                    },
                                    "status": {
                                      "type": "string",
                                      "enum": [
                                        "active",
                                        "revoked"
                                      ]
                                    },
                                    "lastUsedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                    },
                                    "createdBy": {
                                      "type": "string"
                                    },
                                    "createdAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "organizationId",
                                    "agentId",
                                    "name",
                                    "channel",
                                    "tokenPrefix",
                                    "status",
                                    "createdBy",
                                    "createdAt",
                                    "updatedAt"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "agent",
                              "deployments"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "enum": [
                                  "slack",
                                  "microsoft-teams",
                                  "discord",
                                  "web-chat",
                                  "api-sdk",
                                  "custom-apps",
                                  "n8n",
                                  "make"
                                ]
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "key",
                              "name",
                              "description"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "canManage": {
                          "type": "boolean"
                        },
                        "endpointBase": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "agents",
                        "channels",
                        "canManage",
                        "endpointBase"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/agents/{agentId}": {
      "delete": {
        "operationId": "agents.delete",
        "tags": [
          "Agents"
        ],
        "summary": "Permanently delete an external agent",
        "description": "Permanently deletes one external agent and every deployment credential it owns. Previously issued credentials stop authorizing requests.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Agent identifier from the route"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "deleted"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      },
      "patch": {
        "operationId": "agents.update",
        "tags": [
          "Agents"
        ],
        "summary": "Update or pause an external agent",
        "description": "Updates the agent mission, destinations, memory-write choice, or active status. Read access continues to follow the workspace modules currently enabled. expectedUpdatedAt prevents overwriting a concurrent edit.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Agent identifier from the route"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Display name for the external agent",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "description": {
                    "description": "Short explanation of the agent mission",
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 500
                  },
                  "instructions": {
                    "description": "System instructions that govern the agent runtime",
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 20000
                  },
                  "channels": {
                    "description": "External destinations this agent is intended to serve",
                    "minItems": 1,
                    "maxItems": 8,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "slack",
                        "microsoft-teams",
                        "discord",
                        "web-chat",
                        "api-sdk",
                        "custom-apps",
                        "n8n",
                        "make"
                      ]
                    }
                  },
                  "canWriteNotes": {
                    "description": "Whether the agent may create attributable durable notes",
                    "type": "boolean"
                  },
                  "status": {
                    "description": "Operational status for the agent",
                    "type": "string",
                    "enum": [
                      "active",
                      "paused"
                    ]
                  },
                  "expectedUpdatedAt": {
                    "description": "Last observed update timestamp for optimistic concurrency",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "agent": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "organizationId": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "version": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "paused"
                              ]
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "name": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "instructions": {
                              "type": "string"
                            },
                            "channels": {
                              "default": [
                                "api-sdk"
                              ],
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "slack",
                                  "microsoft-teams",
                                  "discord",
                                  "web-chat",
                                  "api-sdk",
                                  "custom-apps",
                                  "n8n",
                                  "make"
                                ]
                              }
                            },
                            "projectionKeys": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "allowedUses": {
                              "minItems": 1,
                              "maxItems": 6,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "research",
                                  "qualification",
                                  "outreach",
                                  "content",
                                  "citation",
                                  "internal"
                                ]
                              },
                              "description": "Purposes for which graph evidence may be used"
                            },
                            "maxSensitivity": {
                              "type": "string",
                              "enum": [
                                "public",
                                "workspace",
                                "restricted"
                              ]
                            },
                            "maxHops": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "maxResults": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "canWriteNotes": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "organizationId",
                            "slug",
                            "version",
                            "status",
                            "createdBy",
                            "createdAt",
                            "updatedAt",
                            "name",
                            "description",
                            "instructions",
                            "channels",
                            "projectionKeys",
                            "allowedUses",
                            "maxSensitivity",
                            "maxHops",
                            "maxResults",
                            "canWriteNotes"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "agent"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/agents/{agentId}/deployments": {
      "post": {
        "operationId": "agents.deployment.create",
        "tags": [
          "Agents"
        ],
        "summary": "Create an OpenAI-compatible agent deployment",
        "description": "Creates a separately revocable bearer credential for the external agent. The plaintext API key is returned once and redacted from idempotent replay storage.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Agent identifier from the route"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120,
                    "description": "Human-readable name for this API deployment"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deployment": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "organizationId": {
                              "type": "string"
                            },
                            "agentId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "name": {
                              "type": "string"
                            },
                            "channel": {
                              "type": "string",
                              "const": "openai"
                            },
                            "tokenPrefix": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "active",
                                "revoked"
                              ]
                            },
                            "lastUsedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "createdBy": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                            }
                          },
                          "required": [
                            "id",
                            "organizationId",
                            "agentId",
                            "name",
                            "channel",
                            "tokenPrefix",
                            "status",
                            "createdBy",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        },
                        "apiKey": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "deployment",
                        "apiKey"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/agents/{agentId}/deployments/{deploymentId}": {
      "delete": {
        "operationId": "agents.deployment.revoke",
        "tags": [
          "Agents"
        ],
        "summary": "Revoke an external agent deployment",
        "description": "Immediately revokes one agent API credential. Future OpenAI-compatible requests using the key are rejected.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Agent identifier that owns the deployment"
            }
          },
          {
            "name": "deploymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Deployment identifier to revoke"
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "revoked": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "revoked"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/automations": {
      "post": {
        "operationId": "automation.create",
        "tags": [
          "Automations"
        ],
        "summary": "Create an automation",
        "description": "Creates a draft automation, optionally seeded from a starter template, and returns it ready for the canvas.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Automation name; defaults to Untitled automation.",
                    "type": "string",
                    "maxLength": 300
                  },
                  "templateId": {
                    "description": "Starter template to seed the canvas from.",
                    "type": "string",
                    "maxLength": 100
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "automation": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Automation ID."
                            },
                            "name": {
                              "type": "string",
                              "description": "Automation name."
                            },
                            "status": {
                              "type": "string",
                              "description": "draft, published, paused, or archived."
                            },
                            "schedule": {
                              "description": "Cron-style schedule when the automation runs on a clock.",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "description": "Timezone the schedule is evaluated in.",
                              "type": "string"
                            },
                            "webhookToken": {
                              "description": "Token for the inbound webhook trigger URL.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "status"
                          ],
                          "additionalProperties": {},
                          "description": "The created automation."
                        }
                      },
                      "required": [
                        "automation"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      },
      "get": {
        "operationId": "automation.list",
        "tags": [
          "Automations"
        ],
        "summary": "List automations",
        "description": "Returns every automation in the workspace with its status, schedule, and webhook token.",
        "security": [
          {
            "oauth2": [
              "vn:read"
            ]
          },
          {
            "oauth2": [
              "vn:workspace:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "automations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Automation ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Automation name."
                              },
                              "status": {
                                "type": "string",
                                "description": "draft, published, paused, or archived."
                              },
                              "schedule": {
                                "description": "Cron-style schedule when the automation runs on a clock.",
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "timezone": {
                                "description": "Timezone the schedule is evaluated in.",
                                "type": "string"
                              },
                              "webhookToken": {
                                "description": "Token for the inbound webhook trigger URL.",
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "status"
                            ],
                            "additionalProperties": {}
                          },
                          "description": "Every automation, newest first."
                        }
                      },
                      "required": [
                        "automations"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/automations/{id}": {
      "delete": {
        "operationId": "automation.delete",
        "tags": [
          "Automations"
        ],
        "summary": "Delete an automation",
        "description": "Permanently removes the automation, its versions, and its run history.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Automation ID."
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "confirm": {
                    "type": "boolean",
                    "const": true,
                    "description": "Must be true — deletion is permanent."
                  }
                },
                "required": [
                  "confirm"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "description": "True when the automation is gone."
                        }
                      },
                      "required": [
                        "deleted"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      },
      "get": {
        "operationId": "automation.get",
        "tags": [
          "Automations"
        ],
        "summary": "Get an automation",
        "description": "Returns one automation with its draft definition, published version, schedule, and webhook token. Responds 404 when it does not exist.",
        "security": [
          {
            "oauth2": [
              "vn:read"
            ]
          },
          {
            "oauth2": [
              "vn:workspace:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Automation ID."
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "automation": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Automation ID."
                            },
                            "name": {
                              "type": "string",
                              "description": "Automation name."
                            },
                            "status": {
                              "type": "string",
                              "description": "draft, published, paused, or archived."
                            },
                            "schedule": {
                              "description": "Cron-style schedule when the automation runs on a clock.",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "description": "Timezone the schedule is evaluated in.",
                              "type": "string"
                            },
                            "webhookToken": {
                              "description": "Token for the inbound webhook trigger URL.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "status"
                          ],
                          "additionalProperties": {},
                          "description": "The automation."
                        }
                      },
                      "required": [
                        "automation"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      },
      "patch": {
        "operationId": "automation.update",
        "tags": [
          "Automations"
        ],
        "summary": "Update an automation",
        "description": "Saves the automation's name, canvas definition, status, schedule, or timezone. Publishing validates the definition checklist and responds 422 with the problems when it is incomplete.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Automation ID."
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "New name.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "def": {
                    "description": "The canvas definition: nodes, edges, and saved state entries.",
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "status": {
                    "description": "Lifecycle status; published automations run their triggers.",
                    "type": "string",
                    "enum": [
                      "draft",
                      "published",
                      "paused",
                      "archived"
                    ]
                  },
                  "schedule": {
                    "description": "Cron-style schedule, or null to clear it.",
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "timezone": {
                    "description": "Timezone the schedule runs in.",
                    "type": "string",
                    "maxLength": 100
                  },
                  "expectedUpdatedAt": {
                    "description": "Revision timestamp returned by the last read; stale saves respond 409 instead of overwriting newer work.",
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "automation": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Automation ID."
                            },
                            "name": {
                              "type": "string",
                              "description": "Automation name."
                            },
                            "status": {
                              "type": "string",
                              "description": "draft, published, paused, or archived."
                            },
                            "schedule": {
                              "description": "Cron-style schedule when the automation runs on a clock.",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "timezone": {
                              "description": "Timezone the schedule is evaluated in.",
                              "type": "string"
                            },
                            "webhookToken": {
                              "description": "Token for the inbound webhook trigger URL.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "status"
                          ],
                          "additionalProperties": {},
                          "description": "The automation after the save."
                        }
                      },
                      "required": [
                        "automation"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/automations/{id}/run": {
      "post": {
        "operationId": "automation.run",
        "tags": [
          "Automations"
        ],
        "summary": "Run an automation now",
        "description": "Enqueues one manual run of the automation with an optional trigger payload; the worker picks it up immediately. Returns the queued run.",
        "security": [
          {
            "oauth2": [
              "vn:workspace:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Automation ID."
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "A unique key for safely retrying this mutation.",
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "description": "Trigger payload the run starts with.",
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  }
                },
                "required": [],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "run": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Run ID."
                            },
                            "workflowId": {
                              "type": "string",
                              "description": "Automation the run belongs to."
                            },
                            "status": {
                              "type": "string",
                              "description": "queued, running, waiting, needs_approval, succeeded, failed, cancelled…"
                            },
                            "triggerType": {
                              "type": "string",
                              "description": "manual, schedule, webhook, or event."
                            }
                          },
                          "required": [
                            "id",
                            "workflowId",
                            "status",
                            "triggerType"
                          ],
                          "additionalProperties": {},
                          "description": "The queued run."
                        }
                      },
                      "required": [
                        "run"
                      ],
                      "additionalProperties": false
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "409": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "$ref": "#/components/responses/Problem"
          },
          "500": {
            "$ref": "#/components/responses/Problem"
          }
        }
      }
    },
    "/automations/{id}/runs/{runId}/events": {
      "get": {
        "operationId": "automation.run.events",
        "tags": [
          "Automations"
        ],
        "summary": "Get a run's event timeline",
        "description": "Returns the run's timeline events after the given sequence number — poll with the last seen sequence for live progress.",
        "security": [
          {
            "oauth2": [
              "vn:read"
            ]
          },
          {
            "oauth2": [
              "vn:workspace:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Automation ID."
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Run ID."
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": true,
            "schema": {
              "default": 0,
              "description": "Return only events with a sequence greater than this.",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Request-Id",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided correlation ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
[...]
